@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* NEW-CARD ANIMATION */
@-webkit-keyframes rotate-scale-down-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateX(-180deg);
    transform: scale(0.5) rotateX(-180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-360deg);
    transform: scale(1) rotateX(-360deg);
  }
}

@keyframes rotate-scale-down-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateX(-180deg);
    transform: scale(0.5) rotateX(-180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-360deg);
    transform: scale(1) rotateX(-360deg);
  }
}

/* loader animation */
.loader {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  z-index: 1;
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation: loader 4s 1 both;
          animation: loader 4s 1 both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lds-ellipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #9356dc;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

header, h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Shrikhand, cursive;
  margin: 0.2rem;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebebeb;
  -webkit-box-shadow: inset 0 0.2rem 0.3rem #dbdbdb;
          box-shadow: inset 0 0.2rem 0.3rem #dbdbdb;
  color: #323232;
}

.location i {
  margin-right: 1rem;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  background-color: #f6f6f6;
}

.explore h2, .explore p {
  text-align: center;
}

.explore p {
  color: #323232;
}

.explore a {
  padding: 1rem 1.4rem;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  background: linear-gradient(160deg, rgba(255, 121, 218, 0.915004) 0%, rgba(147, 86, 220, 0.844975) 75%);
  -webkit-box-shadow: 0.1rem 0.1rem 0.4rem #dbdbdb;
          box-shadow: 0.1rem 0.1rem 0.4rem #dbdbdb;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0.3rem 0.3rem 0.5rem lightgrey;
          box-shadow: 0.3rem 0.3rem 0.5rem lightgrey;
}

.explore a:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0.4rem 0.4rem 0.6rem darkgrey;
          box-shadow: 0.4rem 0.4rem 0.6rem darkgrey;
}

.operation {
  padding: 2rem 1rem;
  max-width: 1340px;
  margin: auto;
}

.operation h2 {
  padding-left: 1rem;
}

.operation ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  counter-reset: listcounter;
  padding-left: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.operation li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem 1rem 0.6rem 2rem;
  background-color: #f6f6f6;
  margin: 1rem;
  border-radius: 1.2rem;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  -webkit-box-shadow: 0.2rem 0.2rem 0.8rem #dbdbdb;
          box-shadow: 0.2rem 0.2rem 0.8rem #dbdbdb;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  cursor: pointer;
}

.operation .operation-number::before {
  counter-increment: listcounter 1;
  content: counter(listcounter) " ";
  height: 2rem;
  width: 2rem;
  background-color: #9356dc;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-right: 1rem;
  position: absolute;
  left: -0.75rem;
}

.operation .operation-number .fas {
  margin-right: 1rem;
  font-size: 1.4rem;
  color: darkgrey;
}

.operation-number:hover {
  background-color: #ebebeb;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

/* Media Queries Operation */
@media (min-width: 1100px) {
  .operation ol {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .operation h2 {
    padding-left: 0;
  }
}

.restaurants {
  padding: 2rem 1rem;
  background-color: #f6f6f6;
}

.restaurants h2 {
  max-width: 1340px;
  margin: auto;
  padding: 1rem 1rem 2rem 1rem;
}

.restaurants .restaurants-cards {
  max-width: 1340px;
  margin: auto;
}

.restaurants a {
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0.2rem 0.2rem 0.8rem #dbdbdb;
          box-shadow: 0.2rem 0.2rem 0.8rem #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  margin: 1rem;
  /* lien entre margin et flex-basis ? */
  position: relative;
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
  /* REALLY TO CHECK !!!*/
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.restaurants img {
  height: 16rem;
  border-radius: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants .card-new {
  position: absolute;
  right: 1rem;
  color: #139373;
  background-color: #9ae3d1;
  padding: 1rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  -webkit-animation: rotate-scale-down-hor 0.65s linear both;
  animation: rotate-scale-down-hor 0.65s linear both;
}

.restaurants .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.restaurants .card-footer .card-description h3, .restaurants .card-footer p {
  margin: 0 0 0.3rem 0;
}

.restaurants .card-footer .card-like {
  margin-left: auto;
  height: 3rem;
  width: 3rem;
  position: relative;
}

.restaurants .card-footer .card-like .far, .restaurants .card-footer .card-like .fas {
  font-size: 2rem;
}

.fa-heart {
  font-weight: 100;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}

/* Heart filling */
.card-like:hover .fas, .card-like:active .fas {
  font-weight: 900;
  color: darkorchid;
}

.card-like:hover .far, .card-like:active .far {
  color: darkorchid;
}

a:hover {
  -webkit-transform: scale(1.008);
          transform: scale(1.008);
}

/* Media Queries Restaurants */
@media (min-width: 1100px) {
  .restaurants-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  img {
    max-width: 100%;
  }
}

.page-footer {
  padding: 1rem;
  background-color: #323232;
  color: white;
}

.page-footer li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer .footer-link {
  text-decoration: none;
  list-style-type: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer h3 {
  font-family: Shrikhand, cursive;
}

.page-footer ul {
  padding: 0;
}

.page-footer i {
  margin-right: 0.6rem;
  width: 1rem;
}

.page-footer p {
  margin: 0.3rem 0;
}
/*# sourceMappingURL=main.css.map */